{% extends 'base.html.twig' %}

{% block title %}Ajouter un Bâtiment{% endblock %}

{% block body %}
<h1>Ajouter un nouveau bâtiment</h1>

<form method="post">
    <label>Nom :</label><br>
    <input type="text" name="nom" required><br><br>

    <label>Nombre d'étages :</label><br>
    <input type="number" name="nbEtages" required><br><br>

    <label>Date de construction :</label><br>
    <input type="date" name="dateConstruction" required><br><br>

    <label>Disponibilité :</label><br>
    <input type="text" name="disponibilite" required><br><br>

    <button type="submit">Enregistrer</button>
</form>

<a href="{{ path('batimentmalekbouderbela_index') }}">⬅ Retour</a>
{% endblock %}
